# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.py[cod]

# Django
db.sqlite3
staticfiles/

# Logs
*.log

# IDE / OS
.vscode/
.idea/
Thumbs.db
.DS_Store